In [27]:
import re
lista_strings = ["Olá, mundo!", "Este é um exemplo de string com @caracteres especiais#"]


def limpar_caracteres_especiais(string):

    return re.sub(r'[^\w\s]', '', string)


lista_limpa = [limpar_caracteres_especiais(string) for string in lista_strings]


for string in lista_limpa:
    print(string)

Olá mundo
Este é um exemplo de string com caracteres especiais

In [28]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [29]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\guido\OneDrive\Documentos\GitHub\Cdados

In [30]:
train = pd.read_excel('dados/dados_treino.xlsx')
train.head(5)

     Target                                           Mensagem
0  Positivo  Leitura rápida, com algumas dicas para expandi...
1    Neutro  Coaching virou um grande modismo, assim como c...
2  Negativo  O fundo da história é pra se pensar. Mas é mui...
3    Neutro  A tradução é péssima e diferente do original. ...
4  Negativo  Achei sem graça esse livro. Tópicos de livros ...

In [31]:
test = pd.read_excel('dados/dados_teste.xlsx')
test.head(5)

     Target                                           Mensagem
0    Neutro  É incrível como os sebos não tem noção, vendem...
1  Negativo  Livro sem nenhuma coisa de diferente. Autor ba...
2  Negativo  Bem fraco. Achei muito forçada a ligação com o...
3    Neutro  A caixa veio rasgada. como fazia mais de sete ...
4  Negativo  Que livro chato, gente quase não consegui term...

In [37]:
df = pd.read_excel('dados/dados_treino.xlsx')

coluna_especifica = df['Mensagem']



def limpar_caracteres_especiais(string):

    return re.sub(r'[^\w\s]', '', string)


nova_coluna_especifica = [limpar_caracteres_especiais(string) for string in coluna_especifica]
train.Mensagem=nova_coluna_especifica
train

       Target                                           Mensagem
0    Positivo  Leitura rápida com algumas dicas para expandir...
1      Neutro  Coaching virou um grande modismo assim como cr...
2    Negativo  O fundo da história é pra se pensar Mas é muit...
3      Neutro  A tradução é péssima e diferente do original A...
4    Negativo  Achei sem graça esse livro Tópicos de livros a...
..        ...                                                ...
745  Negativo  Conteúdo superficial onde se propõe nas dicas ...
746  Negativo                                            Péssimo
747  Negativo  autor confunde tecnicas de coaching com religi...
748  Negativo  Livro superficial escrito para impressionar os...
749  Negativo  É incrível como os sebos não tem noção vendem ...

[750 rows x 2 columns]