In [13]:
import re
lista_strings = ["Olá, mundo!", "Este é um exemplo de string com @caracteres especiais#"]


def limpar_caracteres_especiais(string):

    return re.sub(r'[^\w\s]', '', string)


lista_limpa = [limpar_caracteres_especiais(string) for string in lista_strings]


for string in lista_limpa:
    print(string)

Olá mundo
Este é um exemplo de string com caracteres especiais

In [14]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [15]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\guido\OneDrive\Documentos\GitHub\Cdados

In [16]:
train = pd.read_excel('dados/dados_treino.xlsx')
train.head(5)

     Target                                           Mensagem
0  Positivo  Leitura rápida, com algumas dicas para expandi...
1    Neutro  Coaching virou um grande modismo, assim como c...
2  Negativo  O fundo da história é pra se pensar. Mas é mui...
3    Neutro  A tradução é péssima e diferente do original. ...
4  Negativo  Achei sem graça esse livro. Tópicos de livros ...

In [17]:
test = pd.read_excel('dados/dados_teste.xlsx')
test.head(5)

     Target                                           Mensagem
0    Neutro  É incrível como os sebos não tem noção, vendem...
1  Negativo  Livro sem nenhuma coisa de diferente. Autor ba...
2  Negativo  Bem fraco. Achei muito forçada a ligação com o...
3    Neutro  A caixa veio rasgada. como fazia mais de sete ...
4  Negativo  Que livro chato, gente quase não consegui term...

In [18]:
def limpar_caracteres_especiais(string):

    return re.sub(r'[^\w\s]', '', string)


lista_limpa = [limpar_caracteres_especiais(string) for string in lista_strings]


for string in lista_limpa:
    print(string)

Olá mundo
Este é um exemplo de string com caracteres especiais